.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px 1px;
	height: 100%;
}

[component="Title"] {
    grid-area: 1 / 2 / 1 / 4;
}

[component="Input"] {
    grid-area: 2 / 1 / 4 / 3;
}

[component="Response"] {
    grid-area: 2 / 3 / 4 / 5;
}

[component="Map"] {
    grid-area: 4 / 1 / 6 / 5;
}
