html, body {
    margin: 0;
    height: 100%;
}

body {
   background-image: url("../img/vintage-concrete.png");
   font-family: "Trebuchet MS";
}

h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#radioSpan {
	margin-top: 10px;
	display: block;
}
